
   <section class="footer">
     
          <div class="footer-links">
            <div class="c1200">
                <div class="footer-links-group flex">
                    <div class="footer-links-list">
                        <div class="title">Get Started</div>
                        <ul class="list">
                            <li><a href="#">Subscribe to IAC Connect</a></li>
                            <li><a href="#">Introductory Lecture</a></li>
                            <li><a href="#">Attend the  Consciousness Development Program</a></li>
                            <li><a href="#">Find Your Local IAC</a></li>
                            <li><a href="#">Join Our Team</a></li>
                            <li><a href="#">Download Your eBook</a></li>
                            <li><a href="#">Subscribe to our newsletter</a></li>
                        </ul>
                    </div>

                     <div class="footer-links-list">
                        <div class="title">Calendar of Events</div>
                        <ul class="list">

                            <li><a href="#">All Events</a></li>
                            <li><a href="#">Online events</a></li>
                            <li><a href="#">IAC Connect Events</a></li>
                            <li><a href="#">Introductory Lectures</a></li>
                            <li><a href="#">Consciousness Development Program</a></li>
                         
                        </ul>
                    </div>

                     <div class="footer-links-list">
                        <div class="title">About Us</div>
                        <ul class="list">
                            <li><a href="#">Mission and Ethos</a></li>
                            <li><a href="#">Consciousness Science</a></li>
                            <li><a href="#">IAC Research Campus</a></li>
                            <li><a href="#">IAC Portfolio</a></li>
                            <li><a href="#">Join Our Team</a></li>
                            <li><a href="#">Support IAC</a></li>
                            <li><a href="#">Contact US</a></li>
                        </ul>
                    </div>

                  
                       <div class="footer-links-list">
                        <div class="title">What We Do</div>
                        <ul class="list">
                            <li><a href="#">Courses and Events</a></li>
                            <li><a href="#">Individual Services</a></li>
                            <li><a href="#">Books and Publications</a></li>
                            <li><a href="#">International Congress on Consciousness</a></li>
                      
                        </ul>
                    </div>

                     <div class="footer-links-list">
                        <div class="title">About the IAC team</div>
                        <ul class="list">
                             <!-- empty -->
                      
                        </ul>
                    </div>
                </div>
            </div>
       </div>
       <div class="footer-bottom clear">
           <div class="c1200">
               <div class="info">
                <div class="social-icons">
                   <a href="#" class="icon fb"></a>
                   <a href="#" class="icon tw"></a>
                   <a href="#" class="icon yt"></a>
                   <a href="#" class="icon be"></a>
                   <a href="#" class="icon ma"></a>
               </div>
                
                   <div class="privacy dib va-middle"><a href="#">Privacy Notice</a></div>
                   <div class="copy dib va-middle">© 2012-2019 IAC International Academy of Consciousness. All Rights Reserved.</div>
                      
                      <a href="#" class="scrollbtn dib va-middle j-scroll-top"></a>
               </div>
           </div>
       </div>
   </section> 

<div class="shadow"></div>
 
 <!-- scripts -->
 
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.2.0/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/jquery.matchHeight.min.js"></script>
    <script type="text/javascript" src="js/jquery.responsiveTabs.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="/js/datepicker.min.js"></script>


<script src="js/star-rating.min.js"></script>
<script>
   var starRatingControls = new StarRating( '.star-rating', {

     showText: false
     
   } );
   
   
       


</script>


    <script src="js/script.js"></script>

     <!--.end scripts -->
</body>

</html>